:root {
    --background: #f0f0f0;
    --header-color: #333;
    --card-front: #ccc;
    --modal-background:  rgba(0,0,0,0.4);
    --modal-border: #888;
    --btn-color: #4CAF50;
    --btn-hover: #45a049;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 90vh;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

h1 {
    color: var(--header-color);
    margin-bottom: 40px;
}

.hidden {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 20px;
    
}

img {
    border-radius: 15px;
}

.card {
    width: 130px; 
    height: 130px;  
    border-radius: 15px;
    box-shadow: 0 0 5px var(--modal-background);
    cursor: pointer;
    transition: transform 0.2s ease;
    position: relative; 
    transform-style: preserve-3d; 
}

.card:hover {
    transform: scale(1.05);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.front {
    background-color: var(--card-front);
}

.back { 
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
    pointer-events: none;
}

/* modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: var(--modal-background); 
}

.modal-content {
    background-color: var(--background);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid var(--modal-border);
    width: 30%;
    height: 40%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-buttons {
    margin-top: 20px;
    text-align: center;
}

.modal-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--btn-color);
    color: white;
}

.modal-buttons button:hover {
    background-color: var(--btn-hover); 
}

#startButton {
    background-color: var(--btn-color); 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin-top: 20px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s;
}

#startButton:hover {
    background-color: var(--btn-hover); 
  }